*.css linguist-detectable=true
*.scss linguist-detectable=true
*.java linguist-detectable=false
*.python linguist-detectable=false 
*.js linguist-detectable=true
*.html linguist-detectable=true
*.php linguist-detectable=true 
*.xml linguist-detectable=false
